@media (width <= 1440px) {
  .header {
    padding: 32px 180px;
  }

  .hero {
    padding-left: 180px;
    padding-right: 100px;
  }

  .bicicletas-lista h2 {
    padding-left: 110px;
  }

  #bicicleta .bicicletas-lista h2 {
    padding-left: 0;
  }

  .tecnologia {
    padding-left: 180px;
  }

  .seguros {
    padding-left: 180px;
    padding-right: 180px;
  }

  .footer {
    padding-left: 180px;
  }

  .termos {
    padding-left: 180px;
    padding-right: 180px;
  }

  .titulo {
    padding-left: 180px;
    padding-right: 180px;
  }

  .bicicletas {
    padding-left: 180px;
    padding-right: 180px;
  }

  .vantagens {
    padding-left: 180px;
    padding-right: 180px;
  }

  .perguntas {
    padding-left: 180px;
    padding-right: 180px;
  }

  .seguro {
    padding-right: 180px;
  }

  .bicicleta {
    padding-left: 180px;
    padding-right: 180px;
  }

  .contato,
  .lojas {
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media (width <= 1300px) {
  .header {
    padding: 32px 120px;
  }

  .hero {
    padding-left: 120px;
    padding-right: 40px;
  }

  .bicicletas-lista {
    padding-left: 50px;
    padding-right: 50px;
  }

  .bicicletas-lista h2 {
    padding-left: 70px;
  }

  .tecnologia {
    padding-left: 120px;
  }

  .seguros {
    padding-left: 120px;
    padding-right: 120px;
  }

  .footer {
    padding-left: 120px;
  }

  .termos {
    padding-left: 120px;
    padding-right: 120px;
  }

  .titulo {
    padding-left: 120px;
    padding-right: 120px;
  }

  .bicicletas {
    padding-left: 120px;
    padding-right: 120px;
  }

  .vantagens {
    padding-left: 120px;
    padding-right: 120px;
  }

  .perguntas {
    padding-left: 120px;
    padding-right: 120px;
  }

  .seguro {
    padding-left: 60px;
    padding-right: 120px;
  }

  .bicicleta {
    padding-left: 120px;
    padding-right: 120px;
  }

  .contato,
  .lojas {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (width <= 930px) {
  .header {
    padding: 32px 40px;
  }

  .hero {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bicicletas-lista {
    padding-left: 30px;
    padding-right: 30px;
  }

  .bicicletas-lista h2 {
    padding-left: 10px;
  }

  .tecnologia {
    padding-left: 40px;
    padding-right: 40px;
  }

  .parceiros {
    padding-left: 60px;
    padding-right: 60px;
  }

  .seguros {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer {
    padding-left: 40px;
  }

  .termos {
    padding-left: 40px;
    padding-right: 40px;
  }

  .titulo {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bicicletas {
    padding-left: 40px;
    padding-right: 40px;
  }

  .vantagens {
    padding-left: 40px;
    padding-right: 40px;
  }

  .perguntas {
    padding-left: 40px;
    padding-right: 40px;
  }

  .seguro {
    padding-left: 40px;
    padding-right: 40px;
  }

  .bicicleta {
    padding-left: 40px;
    padding-right: 40px;
  }

  .contato,
  .lojas {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (width <= 500px) {
  .header {
    padding: 32px 20px;
  }

  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bicicletas-lista {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bicicletas-lista h2 {
    padding-left: 10px;
  }

  .tecnologia {
    padding-left: 20px;
    padding-right: 20px;
  }

  .parceiros {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seguros {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .termos {
    padding-left: 20px;
    padding-right: 20px;
  }

  .titulo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bicicletas {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vantagens {
    padding-left: 20px;
    padding-right: 20px;
  }

  .perguntas {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seguro {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bicicleta {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contato,
  .lojas {
    padding-left: 20px;
    padding-right: 20px;
  }
}
